/* https://www.iconfont.cn/ */
@font-face {
  font-family: "iconfont"; /* Project id 3423417 */
  src: url('//at.alicdn.com/t/font_3423417_sf7qd2tujwn.woff2?t=1654267923553') format('woff2'),
       url('//at.alicdn.com/t/font_3423417_sf7qd2tujwn.woff?t=1654267923553') format('woff'),
       url('//at.alicdn.com/t/font_3423417_sf7qd2tujwn.ttf?t=1654267923553') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before {
  content: "\e61b";
}

.icon-bianjiwenjian:before {
  content: "\e601";
}

.icon-gengduo:before {
  content: "\e600";
}

.icon-back:before {
  content: "\e636";
}

.icon-rcd-trash-f:before {
  content: "\e61a";
}

.icon-icon_wushuju:before {
  content: "\e622";
}

.icon-jianshao:before {
  content: "\e8b2";
}

.icon-zengjia:before {
  content: "\e8c0";
}

.icon-cart-Empty:before {
  content: "\e747";
}

.icon-guanzhu:before {
  content: "\e8b1";
}
